/*@import "reset";*/
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif; }

.navbar-mid {
  margin-bottom: 0;
  border: 0; }

ul a.mid-nav {
  background-color: #2d2d2d;
  box-shadow: inset 0px -2px 0px 0px #d8d8d8; }

ul a.mid-nav-active {
  color: #fff;
  background-color: #2d2d2d;
  box-shadow: inset 0px -2px 0px 0px #d8d8d8; }

ul.mid-nav li:hover {
  background-color: #2d2d2d;
  box-shadow: inset 0px -2px 0px 0px #6a6a6a; }

footer .col-centered {
  float: none;
  margin: 0 auto; }

footer ul {
  margin: 0;
  padding: 0;
  list-style: none; }

footer li {
  display: inline-block; }

footer p {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.text-centered {
  text-align: center; }

.vertical-center {
  display: inline-block;
  vertical-align: middle; }

.text-circle {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 32px;
  background: #212121;
  font-size: 20px;
  display: inline-block; }
  .text-circle > div, .text-circle span {
    width: 44.8px;
    height: 44.8px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center; }

.social-circle {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 32px;
  background: #212121;
  display: inline-block; }
  .social-circle > div, .social-circle span {
    width: 44.8px;
    height: 44.8px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center; }

.social-icon {
  font-size: 48px;
  color: #fff; }

hr.line {
  display: block;
  width: 150px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px; }

.row-xs-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .row-sm-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 992px) {
  .row-md-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (min-width: 1200px) {
  .row-lg-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.vertical-separator:after {
  content: ' ';
  display: block;
  float: left;
  background: #4a4a4a;
  margin: 0 10px;
  height: 300px;
  width: 1px; }

section.dark-section {
  background: #212121;
  color: #fff; }
