// Palette
$color-black: #212121;
$color-white: #FAFAFA;
$color-yellow: #FEC606;
$color-gray: #666666;
$color-gray-light: #8e8e8e;

$font-default: 'Roboto', sans-serif;
// Paddings and sizes
$padding-small: 8px;
$padding-default: 16px;
$padding-medium: 32px;
$padding-large: 64px;