// CSS reset for all browsers

/*@import "reset";*/
@import "bootstrap";

// Common scss attributes
@import "styles";
body {
    width: 100%;
    height: 100%;
    font-family: $font-default;
}

nav.navbar-top {
    margin-top: 20px;
    ul li a {
        color: #2d2d2d;
        padding: 10px 0 10px 0;
        margin: 5px 15px 5px 15px;
    }
    ul li a:hover {
        color: #337ab7;
        background: transparent;
        -webkit-box-shadow: inset 0px -1px 0px 0px #337ab7;
        -moz-box-shadow: inset 0px -1px 0px 0px #337ab7;
        box-shadow: inset 0px -1px 0px 0px #337ab7;
    }
}

nav.navbar-mid {
    margin-bottom: 0;
    border: 0;
    ul a.mid-nav {
        background-color: #2d2d2d;
        -webkit-box-shadow: inset 0px -2px 0px 0px #d8d8d8;
        -moz-box-shadow: inset 0px -2px 0px 0px #d8d8d8;
        box-shadow: inset 0px -2px 0px 0px #d8d8d8;
    }
    ul a.mid-nav-active {
        color: #fff;
        background-color: #2d2d2d;
        -webkit-box-shadow: inset 0px -2px 0px 0px #d8d8d8;
        -moz-box-shadow: inset 0px -2px 0px 0px #d8d8d8;
        box-shadow: inset 0px -2px 0px 0px #d8d8d8;
    }
    ul.mid-nav li:hover {
        background-color: #2d2d2d;
        -webkit-box-shadow: inset 0px -2px 0px 0px #6a6a6a;
        -moz-box-shadow: inset 0px -2px 0px 0px #6a6a6a;
        box-shadow: inset 0px -2px 0px 0px #6a6a6a;
    }
    .floating-logo {
        position: absolute;
        z-index: 5;
        top: 45px;
    }
    #logo {
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px #222);
        display: inline-block;
        height: 100px;
    }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

footer {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    p {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

@mixin circle($size: 100px) {
    width: $size;
    height: $size;
    position: relative;
    -webkit-border-radius: $size / 2 + 0px;
    -moz-border-radius: $size / 2 + 0px;
    border-radius: $size / 2 + 0px;
    &>div,
    span {
        width: $size - $size*0.3;
        height: $size - $size*0.3;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
}

.text-centered {
    text-align: center;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
}

.text-circle {
    @include circle(64px);
    background: #212121;
    font-size: 20px;
    display: inline-block;
}

.social-circle {
    @include circle(64px);
    background: #212121;
    display: inline-block;
}

.social-icon {
    font-size: 48px;
    color: #fff;
}

hr.line {
    display: block;
    width: 150px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.row-xs-flex-center {
    display: flex;
    align-items: center;
}

@media ( min-width:768px) {
    .row-sm-flex-center {
        display: flex;
        align-items: center;
    }
}

@media ( min-width: 992px) {
    .row-md-flex-center {
        display: flex;
        align-items: center;
    }
}

@media ( min-width: 1200px) {
    .row-lg-flex-center {
        display: flex;
        align-items: center;
    }
}

.vertical-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #4a4a4a;
    margin: 20px 10px;
    height: 300px;
    width: 1px;
}

section.dark-section {
    background: #212121;
    color: #fff;
}

#calendar-events {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin: 16px;
    }
}

a.btn-sharp {
    margin: 16px;
    border-radius: 0;
}